/* cores 
#6498BB Azul pouco escuro
#667f91 ignored
#54ace5 Azul mais claro
#596166 Cinza claro
#2d363c Cinza medio
#1e2b33 Cinza escuro
#f1f2f7 quase branco */



body{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Estilos Comuns*/
.container{
    max-width: 1024px;
    margin: 0 auto;  
}

/*Estilos Topo*/
header, footer{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 0 5px 0;
    text-align: center;
    /* background-color: #1e2b33; */

}
main{
    width: 100%;
}
header .container{
    display: flex;
    justify-content: space-between;   
    border-bottom: 1px  black;   
}

.logo{
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    z-index: 1;
}
/* .logo img{
    width: 180px;
} */
.logo p{
    color: #fff;
    font-size: 60px;
    text-align: left;

    
}
.entraLogin{ 
    color:#F2CB05;
    width: 240px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.entraLogin img{
    width: 100px;
    margin-bottom: 10px;
    align-items: center;
}
.login-form label{
    font-weight: 600;
}
.login-form .email{
    width:151px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.button{
    margin-top: 10px;
    text-align: center;
    
}
.texto-botao{
    padding: 3px;
    width:100px;
    border-radius: 5px;
    background-color:#F2CB05;
}

/*Estilos Corpo/Conteúdo*/
    /*Estilos comuns*/
.homepage1, .homepage2{
    max-width: 100%;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sobre-homepage{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage2 {
    background-color: #1BAFBF;
}
.homepage2-cor-especial{
    background-color:#1BAFBF ;
}
.sobre-homepage h2, .sobre-homepage h3, .sobre-homepage p{
    color: black;
    border: 1px black;
}
.especial{
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    height: 60%;
    
}
.especial .p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.especial p{
    padding: 20px;
}
.sobre-conteudo{
    margin: auto 0;
    text-align: center;
    height: 70vh;
   
}
.sobre-conteudo h2{
    font-size: 80px;
    font-weight: bold;
    padding-top: 15px; 
    -webkit-text-stroke-width: 2px; /* Largura da borda */
    -webkit-text-stroke-color: black;
}
.sobre-conteudo h3{
    font-size:50px;
    font-style: italic;
    padding-top: 5px;
    -webkit-text-stroke-width: 1.5px; /* Largura da borda */
    -webkit-text-stroke-color: black;
}
.sobre-conteudo p{
    font-size: 27px;
    text-align: justify;
    font-weight: 500;
    width: 800px;
}
.img-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.separa-homepage{
   
    margin: auto 0;
    background-color:#0D0D0D ;
}
.separa-homepage .container{
    height: 100px;
       
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.separa-homepage p{
    font-size: 45px;
    font-weight: bold;
    color: #F2CB05;
}
.separa-homepage button{
    width: 200px;
    padding: 15px;
    border-radius: 15px;
    background-color:#F2CB05 ;
}
button{
    color:black;
    font-size: 20px;
    font-weight: bold;
}
.homepage1 img, .homepage2 img{
    width:500px;
}


/*Estilos Rodapé*/
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
    color: #1BAFBF;
    font-size: 20px;
    
}
span{
    color: white;
    font-weight: bold;
    font-family: "Pangolin", cursive;
    font-size: 32px;
}

/*TESTE MENU SUSPENSO*/
.entraLogin {
    position: relative; /*gitEstabelece um contexto de posicionamento para o formulário de login */
}

.login-form {
    display: none; /* Oculta o formulário por padrão */
    position: absolute;
    top: 100%; /* Alinha o formulário abaixo da imagem de entrada de login */
    left: 0;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1; /* Garante que o formulário esteja acima de outros elementos */
}

.entraLogin:hover .login-form {
    display: block; /* Exibe o formulário quando o mouse está sobre a imagem de entrada de login */
}
.borda{
    width: 160px;
    height: 160px;
   
    background: black;
    border-radius: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

    /* para criar borda gradiente em IMG (onde não se pode aplicar o ::before diretamente no elemento img), cria-se uma nova div */
}
.logo img{
    border-radius: 80%;
    width: 150px;
    height: 150px;
}