/* ======================================================================== */
/* ============================= BODY ===================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* ======================================================================== */
/* ============================= HEADER =================================== */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 100px;
    width: 100%;
    background-color: #0D0D0D;
}

header a {
    text-decoration: none;
    cursor: pointer;
}

.logoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.circuloLogo {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    justify-content: space-around;
}

.logoUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.circuloUser {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    justify-content: space-around;
}

.circuloUser img {
    scale: 1.4;
}

.logoUser p {

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    background-color: #F2CB05;
    width: 100px;
    height: 50px;
}

h1 {
    font-family: pangolin;
    letter-spacing: 1px;
    color: white;
}

/* ======================================================================== */
/* ============================== MAIN ===================================== */
main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    min-height: 100vh;
    height: 100%;
  }

p {
    font-size: 20px;
    padding: 5px;
}

/* ======================================================================== */
/* ============================== NAV ===================================== */
 nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 182px;
    min-height: 100%;
    background-color: #1BAFBF;
    border-right: 1px solid #0a6872;
    box-shadow: 1px 1px 5px 0.1px rgba(88, 87, 87, 0.75);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 6px;
    width: 100%;
    height: 100%;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    margin: 6px;
    border: 1px solid #0a6872;
    box-shadow: 1px 1px 5px rgba(88, 87, 87, 0.75);
    
}
nav ul li:hover{
    background-color: #F2CB05;
}

/* nav ul li.aula1{
    background-color: #F2CB05;
} */
nav ul a {
    text-decoration: none;
    color: #222;
    align-content: center;
    width: 100%;
}

/* ======================================================================== */
/* ============================== SECTIONS ================================ */

section {
    display: flex;
    width: 20%;
    flex-grow: 1;
    margin-left: 20px;
    min-height: 100%;
    padding-bottom: 20px;

}

section .limita-secao {
    display: flex;
    flex-direction: column;
    align-items: normal;

    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;

}

.limita-secao p {
    font-size: 20px;
    padding: 5px;
}

.limita-secao li {
    font-size: 20px;
    padding: 5px;
}

.limita-secao h2,
h3 {
    color: #1BAFBF;

}

h2 {
    margin: 40px 0 20px 0;
    font-size: 35px;
    font-weight: bold;
}

h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

h4 {
    margin: 20px 0 20px 0;
    font-size: 24px;
    letter-spacing: 1px;
}
h5 {
    margin: 20px 0 2px 0;
    font-size: 20px;
    color: #0a6872;
    text-align: left;
}


.limita-secao .aula2p {
    font-size: 18px !important; /* Adicionando !important para garantir prioridade */
    text-align: left;
}


/* ======================================================================== */
/* ============================== FOOTER ================================== */

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100vw;
    height: 35px;

    color: white;
    background-color: #0D0D0D;
}



/* ======================================================================== */
/* ========================MEDIA QUERIES ================================== */


@media only screen and (max-width: 480px) {
    header {
        display: flex;
        justify-content: space-between;

    }

    .circuloLogo,
    .circuloUser {
        width: 40px;
        height: 40px;
    }

    .logoUser p {
        width: 70px;
        height: 40px;
    }

    main {
        flex-direction: column;
    }

    section {
        margin-left: 0;
        margin-top: 20px;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
    }

    nav ul li {
        margin: 4px;
    }

    nav ul a {
        width: calc(50% - 30px);
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;

    }

    h1 {
        font-size: 25px;
    }

    section {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
    }

    nav ul li {
        margin: 4px;
    }

    nav ul a {
        width: calc(50% - 30px);
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}