/* ======================================================================== */
/* ============================= BODY ===================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* ======================================================================== */
/* ============================= HEADER =================================== */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    width: 100%;
    background-color: #0D0D0D;
}

header a {
    text-decoration: none;
    cursor: pointer;
}

.logoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.circuloLogo {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    justify-content: space-around;
}

.logoUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.circuloUser {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    justify-content: space-around;
}

.circuloUser img {
    scale: 1.4;
}

.logoUser p {

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    background-color: #F2CB05;
    width: 100px;
    height: 50px;
}

h1 {
    font-family: pangolin;
    letter-spacing: 1px;
    color: white;
}

/* ======================================================================== */
/* ============================== MAIN ===================================== */
main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow:hidden;
    height: 100vh;
   

}

p {
    font-size: 20px;
    padding: 5px;
}

/* ======================================================================== */
/* ============================== NAV ===================================== */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 100%;
    background-color: #1BAFBF;
    border-right: 1px solid #0a6872;
    box-shadow: 1px 1px 5px 0.1px rgba(88, 87, 87, 0.75);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 6px;
    width: 100%;
    height: 100%;
    
}

nav ul a {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #222;
}

nav ul li {
    background-color: lightgray;
    padding: 10px; 
    text-align: center;
    margin: 6px;
    border: 1px solid #0a6872;
    box-shadow: 1px 1px 5px rgba(88, 87, 87, 0.75);
}


/* ======================================================================== */
/* ============================== SECTIONS ================================ */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 20px;
    height: 100%;
}
h2{ 
    text-align: justify;
    font-size: 35px;
    font-weight: bold;
}
section .sobre-conteudo, .titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.especial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #1BAFBF;
    
    border: 2px solid #0a6872;
}
p {
    font-size: 20px;
    padding: 5px;
    color: white;
}

h3{
    color: #1BAFBF;
    margin-bottom: 20px;
    font-size: 22px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: lightgray;
    border: none;
    min-width: 20%;
    border: 1px solid #0a6872;
    box-shadow: 1px 1px 5px #0a6872;
}
a{
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}






/* ======================================================================== */
/* ============================== FOOTER ================================== */

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100vw;
    height: 35px;

    color: white;
    background-color: #0D0D0D;
}



/* ======================================================================== */
/* ========================MEDIA QUERIES ================================== */


@media only screen and (max-width: 480px) {
    header {
        display: flex;
        justify-content: space-between;

    }

    .circuloLogo,
    .circuloUser {
        width: 40px;
        height: 40px;
    }

    .logoUser p {
        width: 70px;
        height: 40px;
    }

    main {
        flex-direction: column;
    }

    section {
        margin-left: 0;
        margin-top: 20px;
        height: fit-content;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
    }

    nav ul li {
        margin: 4px;
    }

    nav ul a {
        width: calc(50% - 30px);
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    h1 {
        font-size: 25px;
    }

    section {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
        height: fit-content;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
    }

    nav ul li {
        margin: 4px;
    }

    nav ul a {
        width: calc(50% - 30px);
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}