/* ======================================================================== */
/* ============================= BODY ===================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

/* ======================================================================== */
/* ============================= HEADER =================================== */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 100px;
    width: 100%;
    background-color: #0D0D0D;
}

header a {
    text-decoration: none;
    cursor: pointer;
}

.logoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.circuloLogo {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    justify-content: space-around;
}

.logoUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.circuloUser {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    justify-content: space-around;
}

.circuloUser img {
    scale: 1.4;
}

.logoUser p {

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    background-color: #F2CB05;
    width: 100px;
    height: 50px;
}

h1 {
    font-family: pangolin;
    letter-spacing: 1px;
    color: white;
}

/* ======================================================================== */
/* ============================== MAIN ===================================== */
main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    height: 100vh;
    overflow-y: auto;

}

p {
    font-size: 20px;
    padding: 5px;
}

/* ======================================================================== */
/* ============================== NAV ===================================== */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 100%;
    background-color: #1BAFBF;
    border-right: 1px solid #0a6872;
    box-shadow: 1px 1px 5px 0.1px rgba(88, 87, 87, 0.75);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 6px;
    width: 100%;
    height: 100%;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    margin: 6px;
    border: 1px solid #0a6872;
    box-shadow: 1px 1px 5px rgba(88, 87, 87, 0.75);
}
nav ul li:hover {
    background-color: #F2CB05;
}

nav ul a {
    text-decoration: none;
    color: #222;
    align-content: center;
    width: 100%;
}

/* ======================================================================== */
/* ============================== SECTIONS ================================ */

section {
    display: flex;
    width: 20%;
    flex-grow: 1;
    margin-left: 20px;
    height: 100%;
}

section .limita-secao {
    display: flex;
    flex-direction: column;
    align-items: normal;

    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;

}

.limita-secao p {
    font-size: 20px;
    padding: 5px;
}

.limita-secao h2,
h3 {
    color: #1BAFBF;

}

h2 {
    margin: 40px 0 20px 0;
    font-size: 35px;
    font-weight: bold;
}

h3 {
    margin-bottom: 20px;
    font-size: 25px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: lightgray;
    border: none;
    min-width: 20%;
    box-shadow: 1px 1px 5px rgba(88, 87, 87, 0.75);
}
a{
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}



/* ======================================================================== */
/* ============================== FOOTER ================================== */

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100vw;
    height: 35px;

    color: white;
    background-color: #0D0D0D;
}



/* ======================================================================== */
/* ========================MEDIA QUERIES ================================== */


@media only screen and (max-width: 480px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .circuloLogo,
    .circuloUser {
        width: 40px;
        height: 40px;
    }

    .logoUser p {
        width: 70px;
        height: 40px;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto; /* Ajusta a altura para auto */
    }

    nav {
        width: 100%;
    }

    nav ul .conta {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul a {
        width: 30%;
    }

    section {
        width: 100%;
        height: auto;
    }

    .limita-secao {
        padding-bottom: 20px; /* Adiciona espaço abaixo da última .box */
        width: 100%; /* Ajusta a largura para 100% */
    }

    

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50%;
        font-size: 18px;
    }
}




@media only screen and (min-width:481px) and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%; 
       
    }
    .logoUser p {
        width: 70px;
        height: 40px;
    }

    nav {
        width: 100%;
    }
    nav ul .conta{
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul a{
        width: 30%;
    }
    section{
        width: 100%;
        height: 100vh;
    }
    div button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button {
        width: 80%;
        font-size: 18px;
    }
}
